/* Reset */
:root {
  --clr-bg: #f5f5dc;
  --clr-bg-alternate: #5c3a00;
  --clr-text: #5c3a00;
  --clr-text-alternate: #f5f5dc;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 1.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--clr-bg);
}
.navbar_menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 3rem;
  width: 100%;
}
.navbar_menu_item {
  color: var(--clr-text);
  font-size: 1.5rem;
  font-weight: bold;
}
.play_button {
  background-color: green;
  color: white;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border-radius: 1rem;
}
.hero {
  display: flex;
  align-items: center;
  max-height: 90vh;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.hero_text {
  flex: 1;
  z-index: 2;
}

@media (max-width: 1300px) {
  .hero_text {
    padding-left: 3rem;
  }
}
.hero_text h1 {
  color: var(--clr-text);
  font-size: 4rem;
  font-weight: bold;
}
.hero_text p {
  color: var(--clr-text);
  font-size: 2rem;
  margin-bottom: 4rem;
}
.hero_text a {
  background-color: green;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 2rem;
}

.hero_image {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  max-height: 100%;
}

.hero_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
  display: block;
}

.hero_image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to left,
    rgba(245, 245, 220, 0) 10%,
    rgba(245, 245, 220, 1) 95%
    
  );
  pointer-events: none;
}

@media (max-width: 920px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero_text {
    flex: 1;
    padding-left: 0rem;
  }

  .hero_image {
    flex: 2;
    width: 80%;
  }
  .hero_image img {
    object-position: center top;
  }

  .hero_image::after {
    background: linear-gradient(
      to top,
      rgba(245, 245, 220, 0) 0%,
      rgba(245, 245, 220, 1) 85%
    );
  }
}

.about {
  min-height: 140vh;
  background-color: var(--clr-bg-alternate);
  width: 100%;
  margin-top: 10vh;
}
.about h2,p{
    color: var(--clr-text-alternate);
}
